<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Quản lý sinh viên </title>-->
<!--    <link rel="stylesheet" type="text/css" href="path/to/your/email-style.css">-->

<!--</head>-->
<!--<body>-->
<!--<h1>Danh sách sinh viên trúng tuyển</h1>-->

<!--<table style="border-collapse: collapse; width: 100%;">-->
<!--    <tr>-->
<!--        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">ID</th>-->
<!--        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Họ</th>-->
<!--        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Tên</th>-->
<!--        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Email</th>-->
<!--        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Gửi mail</th>-->
<!--    </tr>-->
<!--    <tr th:each="student : ${students}">-->
<!--        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.id}"></td>-->
<!--        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.lastName}"></td>-->
<!--        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.firstName}"></td>-->
<!--        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.email}"></td>-->
<!--        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">-->

<!--&lt;!&ndash;        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">&ndash;&gt;-->
<!--&lt;!&ndash;            <form th:action="@{/students/send-email}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="hidden" name="email" th:value="${student.email}" />&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="hidden" name="emailContent" th:value="'Xin chào ' + ${student.firstName} + ', Chúc mừng bạn trúng tuyển vào đại học FPT, mọi thắc mắc liên hệ đến nhà trường'" />&ndash;&gt;-->
<!--&lt;!&ndash;                <button type="submit">Gửi</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </td>&ndash;&gt;-->

<!--        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">-->
<!--            <form th:action="@{/students/send-email}" method="post">-->
<!--                <input type="hidden" name="email" th:value="${student.email}" />-->
<!--                <input type="hidden" name="emailContent" th:value="'Xin chào ' + ${student.firstName} + ', Chúc mừng bạn trúng tuyển vào đại học FPT, mọi thắc mắc liên hệ đến nhà trường'" />-->
<!--                <button type="submit">Gửi</button>-->
<!--            </form>-->
<!--        </td>-->



<!--    </tr>-->
<!--</table>-->
<!--<h2>Thêm sinh viên</h2>-->
<!--<form th:action="@{/students}" method="post">-->
<!--    Họ: <input type="text" name="lastName"><br>-->
<!--    Tên: <input type="text" name="firstName"><br>-->
<!--    Email: <input type="text" name="email"><br>-->
<!--    <input type="submit" value="Thêm">-->
<!--</form>-->




<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sinh viên </title>
</head>
<body>
<h1>Danh sách sinh viên trúng tuyển</h1>

<table style="border-collapse: collapse; width: 100%;">
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">ID</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Họ</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Tên</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Email</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Gửi mail</th>
    </tr>
    <tr th:each="student : ${students}">
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.id}"></td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.lastName}"></td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.firstName}"></td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;" th:text="${student.email}"></td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
            <form th:action="@{/students/send-email}" method="post">
                <input type="hidden" name="email" th:value="${student.email}" />
                <button type="submit">Gửi</button>
            </form>
        </td>
    </tr>
</table>

<h2>Thêm sinh viên</h2>
<form th:action="@{/students}" method="post">
    Họ: <input type="text" name="lastName"><br>
    Tên: <input type="text" name="firstName"><br>
    Email: <input type="text" name="email"><br>
    <input type="submit" value="Thêm">

</form>
</body>
</html>






















